body {
    overflow: hidden;
    background: rgb(5, 2, 36);
    background: linear-gradient(90deg, rgba(5, 2, 36, 1) 0%, rgba(2, 12, 54, 1) 36%, rgba(2, 29, 39, 1) 91%);
    /* font-family: 'Signika Negative', sans-serif; */
    font-family: sans-serif;
    --position: 0
}


/**** Animation ****/

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@keyframes card_slideIn {
    from {
        transform: translateX(-400px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes card_slideOut {
    from {
        transform: translateX(0px);
        opacity: 1;
    }
    to {
        transform: translateX(-400px);
        opacity: 0;
    }
}

@keyframes slideItem_left {
    from {
        transform: translateX(var(--position));
    }
    to {
        transform: translateX(-315px);
    }
}

@keyframes slideItem_right {
    from {
        transform: translateX(-315px);
    }
    to {
        transform: translateX(var(--position));
    }
}

#myself {
    position: relative;
    top: 2px;
    left: 50px;
    font-family: 'Trebuchet MS', sans-serif;
    /*  font-family: 'Square Peg', cursive; */
    font-weight: bold;
    font-size: 15px;
    color: rgb(226, 223, 223);
    width: 150px;
    height: 40px;
    overflow-y: hidden;
}

#myself div{
    position: relative;
    top:4px
}

#myself div a{
   text-decoration: none;
   color: rgb(226, 223, 223);
}

#myself div.self:nth-child(1){
   margin-bottom: 12px;
}

/* Mouse over */
#myself div.self-content:hover{
  animation: selfHover 0.8s ease-out forwards;
}


/* Mouse leave */
#myself div.self-content:not(:hover){
    animation: selfHoverReverse 0.8s ease-out forwards;
}

@keyframes selfHover {
    100%{
        top: -25px;
    }
}

@keyframes selfHoverReverse {
    0%{
        top: -25px;
    }
    100%{
        top: 10px;
    }
}

#myself span {
    color: #55708b;
    font-size: 17px;
}

#mySocial {
    position: relative;
    left: 1450px;
    top: 400px;
    color: rgb(226, 223, 223);
}

#mySocial span {
    position: absolute;
    left: 13px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    font-size: 13px;
    font-weight: 600;
    /*  font-family: 'Square Peg', cursive; */
}

#mySocial span::after {
    content: "";
    position: absolute;
    display: block;
    right: -30px;
    top: -11px;
    width: 1px;
    height: 40px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    background-color: rgb(226, 223, 223);
}

#mySocial ul {
    position: relative;
    top: 100px;
    left: -3px
}

#mySocial li,
#myContact li {
    list-style: none;
    margin: 5px 0px;
}

#mySocial li i {
    color: rgb(226, 223, 223);
    font-size: 13px;
}

#myContact {
    position: absolute;
    left: 15px;
    top: 590px;
    color: rgb(226, 223, 223);
    font-size: 11px;
}


/***** Container *****/


/*Background*/

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}


/*Menu*/

div#container {
    margin: 50px auto 0 auto;
    width: 1300px;
    position: absolute;
    top: -50px;
    left: 60px;
    z-index: 1;
}

header {
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 25px;
    z-index: 1;
    color: rgb(7, 36, 59);
}

header li {
    list-style: none;
    background-color: white;
    width: 75px;
    text-align: center;
    text-transform: uppercase;
    height: 70px;
    cursor: pointer;
}

header li span {
    display: block;
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
}

header li div {
    position: relative;
    top: 15px
}

header li:hover {
    /* color:rgb(4, 34, 113) */
    color: rgb(2, 57, 80);
}

ul.principal>li:first-child {
    margin-bottom: 7px;
    border-radius: 3px;
    position: relative;
    left: 40px;
}

ul.principal>li:first-child i {
    font-size: 25px;
    position: relative;
    top: 20px;
}

ul.top-menu li {
    border-bottom: 1px solid rgb(234, 233, 233);
}

ul.top-menu li:first-child {
    border-radius: 3px 3px 0px 0px;
}

ul.top-menu li:last-child {
    border-radius: 0px 0px 3px 3px;
    border-bottom: none;
}


/*Home card*/

div#home-card {
    background-color: white;
    height: 580px;
    width: 450px;
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 90px;
    left: 190px;
    z-index: 1;
    box-shadow: -10px -15px rgba(31, 132, 132, 0.3), 19px -1px 25px -3px rgba(119, 117, 117, 0.2);
}


/*other cards*/

#about-card,
#resume-card,
#works-card,
#contact-card {
    width: 685px;
    height: 555px;
    display: inline-block;
    position: absolute;
    top: 103px;
    left: 638px;
    border-radius: 3px;
    background-color: white;
}

.slideIn {
    animation: card_slideIn 0.7s ease-out forwards;
}

.slideOut {
    animation: card_slideOut 0.7s ease-out forwards;
}


/*Home Card*/

.profile {
    overflow: hidden;
    position: relative;
    height: inherit;
}

#picture {
    background-image: url("../../images/laurenzio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 3px;
}

div#picture::before {
    content: "";
    height: 100px;
    width: 300px;
    background: white;
    position: absolute;
    transform: rotate(10deg);
    top: 275px;
    left: -25px
}

div#picture::after {
    content: "";
    height: 100px;
    width: 300px;
    background: white;
    position: absolute;
    transform: rotate(-10deg);
    top: 275px;
    left: 195px
}

div#name {
    position: absolute;
    display: block;
    top: 315px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: rgb(2, 57, 80);
}

div#title {
    position: absolute;
    top: 370px;
    margin: 0 auto;
    width: 100%;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    color: rgb(2, 51, 115);
}

div.titles {
    width: 50%;
}

.typed-cursor {
    display: none;
}

div#social {
    position: absolute;
    top: 400px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#social ul {
    padding: 0px;
}

#social li {
    list-style: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
}

#social i:hover {
    color: rgb(95, 6, 173)
}

#social i {
    color: rgb(2, 57, 80);
}

#button {
    position: absolute;
    top: 510px;
    width: 100%;
    text-align: center
}

#button::before {
    content: "";
    position: absolute;
    left: 5%;
    top: -15px;
    margin: 0 auto;
    height: 2px;
    width: 90%;
    border-top: 1px solid rgb(207, 199, 199);
}

#button span {
    margin: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: rgb(33, 33, 33);
}

#button a {
    text-decoration: none;
    color: rgb(33, 33, 33);
}

#button span:hover {
    color: rgb(95, 6, 173)
}

#button span:nth-child(1)::before {
    content: "";
    position: absolute;
    border-left: 1px solid rgb(207, 199, 199);
    height: 50px;
    top: -15px;
    left: 230px
}


/* About Card */

div.card-content {
    margin: 0px 2px 5px 5px;
    max-height: 553px;
    overflow-y: auto;
    overflow-x: hidden;
    /* for firefox */
    scrollbar-width: thin;
    scrollbar-face-color: rgb(81, 89, 109);
    /* Firefox 63 compatibility */
    scrollbar-track-color: rgb(241, 244, 244);
    /* Firefox 63 compatibility */
    scrollbar-color: rgb(81, 89, 109) rgb(241, 244, 244);
}

div.card-content::-webkit-scrollbar {
    width: 8px;
}

div.card-content::-webkit-scrollbar-track {
    background-color: rgb(241, 244, 244);
}

div.card-content::-webkit-scrollbar-thumb {
    background-color: rgb(81, 89, 109);
    border-radius: 10px;
}

div.title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 25px;
    color: rgb(5, 42, 58);
}

div.title span {
    color: rgb(4, 34, 113);
}

div.title span::before {
    content: "";
    position: relative;
    display: inline-block;
    left: 16px;
    top: 9px;
    background: rgba(4, 34, 113, 0.09);
    height: 26px;
    width: 26px;
    border-radius: 26px;
}

div.card-content hr {
    width: 85%;
    position: relative;
    top: -5px;
    left: -25px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

div.content {
    text-align: justify;
    margin: 30px 50px;
    color: rgb(66, 73, 75);
    font-family: sans-serif;
    font-size: 15px;
}

.cols span {
    color: rgb(4, 34, 113);
}

.cols {
    font-size: 14px;
}

div#service-items {
    color: rgb(40, 50, 54);
    font-family: sans-serif;
    font-size: 15px;
    margin: 30px 50px;
}

div#info-list {
    position: relative;
    left: -12px;
    width: 620px;
    color: rgb(60, 79, 86);
}

div#info-list ul {
    padding: 0px;
}

div#info-list ul::after {
    content: "";
    clear: both;
    display: block;
}

div#info-list li {
    list-style: none;
    display: inline-block;
    margin: 3px 26px;
    font-size: 14px;
    text-align: start;
}

div#info-list span {
   font-size: 13px;
}

div#info-list label {
    /* color: rgb(2, 51, 115); */
    font-weight: bold;
    color: rgb(65, 65, 65);
}

#about-card content {
    font-size: 14px;
}

div#info-list li:nth-child(odd) {
    width: 40%;
}

div#info-list li:nth-child(even) {
    float: left;
    width: 40%;
}

.service-item .name {
    text-align: center;
}

#quote {
    quotes: '“';
    text-align: center;
}

#quote blockquote {
    font-size: 21px;
    font-family: 'Dancing Script', cursive;
    color: rgb(57, 57, 57);
    /* font-family: 'Square Peg', cursive; */
}

#quote img {
    margin: 0px auto;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

#quote #author-name {
    font-size: 11px;
    font-weight: bold;
    margin: 7px auto;
}

.icon {
    border: 1px solid rgb(2, 51, 115);
    height: 50px;
    width: 50px;
    margin: 10px auto;
    border-radius: 50px;
    text-align: center;
    background: rgb(6, 85, 132);
    background: linear-gradient(90deg, rgba(6, 85, 132, 1) 0%, rgba(18, 39, 122, 1) 36%, rgba(7, 55, 124, 1) 91%);
}

.icon i {
    margin: 18px auto;
    color: white;
}

.name {
    margin: 5px;
    font-weight: bold;
    font-size: 14px;
}

.text {
    text-align: center;
    margin: 15px;
}


/*
    Quelques notes: Utilisation the before and after
    => position absolute (it will be show)
    => position relative (add display property)
*/


/* Resume card */

.resume-item .title {
    font-size: 15px;
}

#experience {
    position: relative;
    left: -75px;
    width: 700px;
    padding: 0px 50px 25px 50px;
}

#experience title {
    margin: 0px;
}

#experience::after {
    content: "";
    display: block;
    clear: both;
}

.resume-items {
    width: 2000px;
}

.resume-item {
    width: 315px;
    margin: 5px 0px;
    /*  float: left; */
    display: inline-block;
}

.resume-item .date {
    display: inline-block;
    transform: rotate(90deg);
    width: 50px;
    font-size: 10px;
    font-weight: bold;
}

.resume-item .title {
    display: inline-block;
    position: relative;
    top: -5px;
    left: -40px;
    width: 100px;
    text-align: start;
}

.resume-item .place {
    position: relative;
    top: -20px;
    left: 40px;
    font-size: 10px;
    font-weight: bold;
    color: #8c8b8b;
}

.resume-item .info {
    position: relative;
    left: 40px;
    top: -15px;
    width: 250px;
    font-size: 13px;
    text-align: start;
}

#education {
    position: relative;
    left: -75px;
    width: 700px;
    padding: 0px 50px 25px 50px;
    margin-top: 5px;
}

#education::after {
    content: "";
    display: block;
    clear: both;
}

.navs {
    position: absolute;
    left: 575px;
    top: -30px
}

.navs span {
    border: 1px solid grey;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    display: inline-block;
    text-align: center;
    margin: 5px;
}

.navs span.prev::after {
    content: "";
    position: relative;
    left: 26px;
    top: -30px;
    display: inline-block;
    height: 0.5px;
    width: 14.5px;
    background-color: #8c8b8b;
}

.navs span.next::after {
    content: "";
    position: relative;
    left: 36px;
    top: -30px;
    display: inline-block;
    height: 0.5px;
    width: 55px;
    background-color: #8c8b8b;
}

.navs span i {
    font-size: 15px;
    margin: 10px;
}

.item-left {
    animation: slideItem_left 1s ease-out forwards;
}

.item-right {
    animation: slideItem_right 1s ease-out forwards;
}


/** Skills Content **/

#skills {
    margin: 40px 0;
}

.skill-item {
    width: 150px;
    height: 150px;
    /*  background-color: #55708b; */
    position: relative;
    display: inline-block;
    margin: 0 15px;
}

.outer {
    width: 80px;
    height: 80px;
    margin: auto;
    /* border: 1px solid black;  */
    border-radius: 50px;
    box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.15), -3px -3px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 3px;
}

.inner {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: relative;
    top: 6.5px;
    left: 6.5px;
    box-shadow: inset 4px 4px 3px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 3px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.skill-item .skill-name {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
}

.skill-text {
    font-size: 10px;
    font-weight: 600;
    padding: 5px;
    width: 140px;
    margin: auto;
    color: rgb(100, 100, 100);
}

.number {
    font-size: 12px;
    font-weight: 600;
    color: #555;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 11px;
    stroke-dasharray: 200;
    animation: anim 10s ease-out forwards;
}

svg {
    position: absolute;
    top: -38px;
    left: -5px;
}

@keyframes anim {
    0% {
        stroke-dasharray: 0;
    }
}

codersrank-summary {
    margin: 25px 0px;
    --header-bg-color: white;
    --header-text-color: rgb(100, 100, 100);
    --name-font-size: 13px;
    --avatar-size: 50px;
    --badge-box-shadow: 0px 2px 6px rgba(23, 36, 50, 0.3);
    --badge-rank-font-size: 12px;
}

#hide_codersrank {
    width: 600px;
    background-color: white;
    position: relative;
    top: -40px;
    height: 20px;
    z-index: 200;
}

.github_chart {
    width: 580px;
    position: relative;
    left: -10px;
    top: -15px;
}


/*
To do list:
    1- change the background to a particle.js
    2- add animate on scroll 
    3- add contact and works content
    4- Change the What I do field to a competence
    5- Modify the download CV & Contact me button
    6- Sambany Michel Laurenzio animation (checked)
    7- Add a custom loader before the website is open
    8- Create a custom pointer
    9- Responsive 
*/


/* Custom cursor */

.cursor {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: rgba(81, 0, 233, 0.342);
    border-radius: 50%;
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: all 0.1s ease-out;
    z-index: 200;
}

#myself:hover {
    cursor: pointer;
}

/* Contact Card */
#contact-list{
    width: 650px;
    margin: auto;
}

.contact-item{
   display: inline-block;
   margin: 12px;
}
.contact-item span{
    display: block;
    text-align: center;
    margin: 8px;
}

.contact-item span:nth-child(1){
    font-size: 15px;
    color: rgb(4, 3, 3);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.15), -3px -3px 10px -1px rgba(255, 255, 255, 0.7);
    margin: 0 auto;
}

.contact-item span:nth-child(1) i{
    color: rgb(117, 37, 149);
}

.contact-item span:nth-child(2){
    font-size: 12px;
    font-weight: 600;
    color: rgb(108, 108, 108);
} 

#contact-us{
    padding: 5px;
    border-radius: 10px;
    width: 450px;
    position: relative;
    left: 40px;
}

.contact-us-input{
    padding: 5px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 15px;
    margin: 15px auto;
    height: 40px;
    width: 425px;
}

.contact-us-input label{
  font-size: 13px;
  background-color: white;
  position: relative;
  left: 15px;
  top: -15px;
  padding: 0 5px;
  font-weight: 600;
  color: rgb(65, 65, 65);
}

.contact-us-input label span:nth-child(2){
    color: rgb(117, 37, 149);
    font-size: 14px;
}

.contact-us-input input, .contact-us-input:nth-child(3) textarea{
    display: block;
    position: relative;
    top: -10px;
    left: 15px;
    width: 375px;
    height: 25px;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 13px;
    color: rgb(120, 120, 120);
}

.contact-us-input input:active{
    border: none;
    outline: none;
}

.contact-us-input:nth-child(3) textarea{
   resize: none;
   height: 60px;
}

.contact-us-input:nth-child(3){
    height: 75px;
}

#contact-us button{
    height: 50px;
    padding: 5px;
    width: 175px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgb(65, 65, 65);
    position: relative;
    left: 5px;
}

#contact-us button span{
   margin: 0 5px;
}

#contact-us button em{
    font-style: normal;
 }


 /*
    sending email from html
    - we use formsubmit 
    here is the link 
    - or formspree
    
    with javascript 
    using email.js
 */

 



